//
// Font
// ---------------------------------------

$font-base: 'pt root ui', Helvetica, sans-serif;
$font-weight-bold: 700;
$font-weight-base: 500;
$font-size-xxl: 28px;
$font-size-xl: 24px;
$font-size-l: 20px;
$font-size-m: 16px;
$font-size-s: 14px;
$font-size-xs: 12px;
$font-size-xxs: 10px;
$line-height-l: 1.625;
$line-height-m: 1.5;
$line-height-s: 1.25;
$line-height-xs: 1;