//- Site informations
- var lang = 'en'
- var path = './'

//- Page informations
- var title = title || 'TMetric'
- var metaDesc = metaDesc || 'Project description'

//- Templates classes
- var template = template || "t-base"
