include ../config
block config
include ../mixins/mixins

doctype
html(lang= lang)
  head
    include ../partials/head

  body

    header.sg-header(role="banner")
      .container
        h1 Summary
    main(role="main")
        block content

    script(src= path + "assets/js/main.js", async)